.welcome {
  display: flex;
  position: relative;
  padding: 6.5rem 18.5rem;
  background-color: var(--color-bg-secondary);
}

.welcome__info {
  /* margin-top: 6rem; */
}

.welcome__about {
  width: 40rem;
  margin-bottom: 6.5rem;
}

.welcome__title {
  margin: 0 0 1.5rem 0;
  font-size: 72px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  color: var(--color-typo-main);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.welcome__text {
  margin: 0 0 3rem 0;
  font-size: 24px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.72;
  color: var(--color-typo-secondary);
}

.welcome__imgs {
  position: absolute;
  bottom: -0.3rem;
  right: 12rem;
}

.welcome__stats {
  min-width: 44rem;
}

.welcome__list {
  list-style: none;
  justify-content: space-between;
  display: flex;
  margin: 0;
  padding: 0;
}

.welcome__stat {
  font-family: "Rubik", "Arial", sans-serif;
  color: var(--color-typo-secondary);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.welcome__stat span {
  color: var(--color-typo-main);
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 2rem;
  line-height: 1;
}

.cleaner {
  height: 52.5rem;
}
