:root {
  --color-bg-main: #fff;
  --color-bg-secondary: #dbebf8;

  --color-typo-main: #050931;
  --color-typo-secondary: #767877;

  --color-link: #ffffff;

  --color-btn: #1f6bff;
  --color-btn-text: #ffffff;

  --color-accent: #fe6b01;
}
