:root {
  --color-bg-main: #fff;
  --color-bg-secondary: #dbebf8;

  --color-typo-main: #050931;
  --color-typo-secondary: #767877;

  --color-link: #ffffff;

  --color-btn: #1f6bff;
  --color-btn-text: #ffffff;

  --color-accent-first: #df6951;
  --color-accent-second: #f0bb1f;
  --color-accent-third: #006380;
}
